<div class="nav2">
	<ul>
		<li> <%= link_to "About us", about_path %></li>
		<li> <%= link_to "EULA", eula_path %></li>
		<li> <a href="#">Like us on FB </a></li>
		<li> <%= link_to "Privacy Statement", privacy_path %></li>
		<li> <%= link_to "Contact Us", :contact_us %></li>
	</ul>
</div>
<div class="copy">Copyright ©2010 - 2014. All Rights Reserved</div>
