<div style="width:300px; font-size:10px; float:right">

<blockquote>
<strong>Legend:</strong>
<BR>
<%= image_tag("/images/checkmark.png", :size => "20x22") %> - Mark as "did today"
<BR>
<%= image_tag("/images/add-blog.jpg", :size => "20x20") %> - Add a blog entry about this
<% if (!current_user.strategy.locked) %>
<BR>
<%= image_tag("/images/delete_small.jpg", :size => "20x20") %> - Delete item
<BR>
<%= image_tag("/images/edit_small.jpg", :size => "20x20") %> - Edit item
<% end %>
</blockquote>

</div>