<% if hals.size == 0 %>
<h2 class="title">No entries</h2>
<% end %>
<% hals.each do |hal| %>
<div class="box">
		<%= render :partial => 'hals/single_hal', locals: {hal: hal, title: title} %>
</div>
<% end %>

