<% hals.each do |hal| %>
<div class="box">
	<%= hal.id %> - <%= hal.created_at.strftime("%m/%d/%Y") %>
	<p>	<% if !hal.insights.blank? %><strong>Insights</strong>: <%= hal.insights %><% end %>
	<% if hal.halable %>
		- About Activity: <%= link_to hal.halable.title, hal.halable %>
	<% end %>
	</p>
	<div class="clear"></div>
</div>
<% end %>
