<% if hals.size == 0 %>
<h2>No entries.</h2>
<% end %>

<% hals.each do |hal| %>
<div class="box">
	<%= hal.id %> - <%= link_to hal.created_at.strftime("%m/%d/%Y"), hal %>
	<p>	<% if !hal.insights.blank? %><strong>Insights</strong>: <%= hal.insights %><% end %>
	<% if hal.halable %>
		- About Activity: <%= link_to hal.halable.title, hal.halable %>
	<% end %>
	</p>
	<div class="clear"></div>
</div>
<% end %>
