<table>
  <tr>
    <th>User</th>
    <th>id</th>
    <th>entry</th>
    <th>About</th>
  </tr>

<% @hals.each do |hal| %>
  <tr>
    <td> <%= link_to hal.user.name, hal.user if hal.user %></td>
    <td><%= link_to hal.id, hal %></td>
    <td><%= hal.entry %></td>
	<td>
	<% if hal.halable %>
		<%= link_to hal.halable.title, hal.halable %>
	<% end %>
	</td>
  </tr>
<% end %>
</table>

<br />

