<%= render :partial => 'new_course_edit' %>

<div class="clear"></div>
<%= form_for @course, as: :course, url: :update_description, :format => :json, :html => {:class => "course_manage"}, :remote => true do |f| %>
  <div id="overview_error_explanation"></div>

  <div class="field">
	Enter details for this course.  It could be a reference for course followers or more details for someone who might be interested in joining.  We recommend adding other media to complement the text in an engaging way (external links, pictures, videos)<BR>
    <%= f.text_area :description, :class => 'ckeditor' %>
</div>


<div class="edit2">	<%= f.submit 'Save' %></div>
<div class="clear"></div>

  </div>
<% end %>


