<div class="edit2"><a href="#">Join</a></div>
<div class="clear space"></div>

<h2>Overview</h2>
<div class="clear space"></div>
<%= @course.overview %>
<div class="clear space"></div>

<h2>About the Author</h2>
<div class="clear space"></div>
<%= @course.about_the_author %>

<div class="edit2"><a href="#">See Plan >></a></div>
