<div class="edit2"><a href="#">Join</a></div>
<div class="clear"></div>
<h2>Course Plan</h2>

<% @course.strategy.current_activities.each do |activity| %>
	<%= activity.id %><%= link_to activity.title, activity %>
	<div class="clear"></div>
<% end %>

<div class="clear"></div>
