<h2>Course Plan</h2>

<% @course.strategy.current_activities.each do |activity| %>
	<%= activity.id %><%= link_to activity.title, activity %>
	<div class="clear"></div>
<% end %>

<div class="clear"></div>

<div class="edit2"><%= link_to "See Details >>", '#', :id => 'seedetails' %></div>
