<h2>Activities in Course Plan</h2>

<div class="tabholdercourse">
     <div class="tabcontainer">
         <div class="myplane_area">
<%=  render :partial => 'strategies/view_plan', locals: {strategy: @course.strategy, myp: false, course_edit: false} %>
</div>
</div>
</div>

<div class="clear"></div>

<%= link_to "See Details >>", '#', :id => 'seedetails', :class => 'greenbutton', :style => 'float:right' %>
