<h2>Course Plan</h2>

<%=  render :partial => 'strategies/view_two', locals: {strategy: @course.strategy, myp: false} %>

<div class="clear"></div>

<div class="edit2"><%= link_to "See Details >>", '#', :id => 'seedetails' %></div>
