<% if @course.strategy.current_activities.size == 0 %>
<p class="boxed">A course is comprised of activities.  They can be worked on simultaneously (e.g. exercising and dieting for a weight loss course) or sequentially (e.g. 12 step program).
	By default all activities are simultaneous.  For sequential steps add an activity to an existing activity.</p>
<% end %>
