var notification = $('.info');
notification.html('	<div class="notification"><%= flash[:notice] %></div>')

<% if @course.errors.any? %>

  // Create a list of errors
notification.html('	<div class="error"><%= flash[:error] %></div>')
  var info = $('.ovinfo');
  info.html('	<div class="save"></div>');
  var errors = $('.save');
	// errors.html('');

  <% @course.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript(error) %></li>');
  <% end %>

<% else %>
  	// update the image preview
	var image_link = '<%= image_tag @course.course_image.url(:medium), :width=>"90", :class=>"float_lft" %>';
	$('#overview_image').html(image_link);

<% end %>
$('html, body').animate({ scrollTop: 0 }, 'fast');

<%  flash.discard %>
