var notification = $('#notif');
notification.html('	<div class="save"><%= flash[:notice] %></div>')

<% if @course.errors.any? %>

  // Create a list of errors
  var errors = $('#overview_error_explanation');
errors.html('');

  <% @course.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript(error) %></li>');
  <% end %>

<% else %>
  	// update the image preview
	var image_link = '<%= image_tag @course.course_image.url(:medium) %>';
	$('#overview_image').html(image_link);

<% end %>
$('html, body').animate({ scrollTop: 0 }, 'fast');

<%  flash.discard %>
