var notification = $('#notif');
notification.html('	<div class="save"><%= flash[:notice] %></div>')

<% if @course.errors.any? %>
  // Create a list of errors
  var errors = $('#overview_error_explanation');
  errors.html('');

  <% @course.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript(error) %></li>');
  <% end %>

<% end %>

<%  flash.discard %>
$('html, body').animate({ scrollTop: 0 }, 'fast');
