var notification = $('.info');
notification.html('	<div class="notification"><%= flash[:notice] %></div>')

<% if @course.errors.any? %>

  // Create a list of errors
notification.html('	<div class="error"><%= flash[:error] %></div>')
  var info = $('.ovinfo');
  info.html('	<div class="save"></div>');
  var errors = $('.save');
	// errors.html('');

  <% @course.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript(error) %></li>');
  <% end %>

<% end %>

<%  flash.discard %>
$('html, body').animate({ scrollTop: 0 }, 'fast');
