/* =Media queries
-------------------------------------------------------------- */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See http://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
	zoom:1;
}
@viewport {
	width: device-width;
	zoom:1;
}



/* =Media queries
-------------------------------------------------------------- */
@media only screen
and (max-width : 1024px) {
.wrapper { width:1000px;}
header {  width:946px;}
.main_con { width:946px; }
.content-full { width:946px; }
footer { width:946px;}
.page3 .left_bar { width:452px; }
.page3 .right_bar { width:432px; }
.page3 .tab_holder { width:622px;}
.page3 .tab_holder2 { width:622px;}
aside { width:150px; }
.table dt { width:51px; font-size:10px; }
.table dd { width:76px; }
.section3 { width:622px; }
.page3 .left_panel { width:45%;}
.page3 .right_panel { width:45%;}
section { width:604px; }
section .box_holder, .section2 .box_holder,  .box_holder3 { width:622px; }
section .box_2 , .section2 .box_2, .page3 .box_3 { width:609px; }
.edit3 { margin: 0px 100px 20px 20px; }
.box_holder3 { width:427px;}
.page3 .box_3 { width: 415px;}
.width98 { width: 97.8% !important;}
.notification { background:#dde9a5; padding:5px; text-align:center; font-family:'opensans'; font-size:17px; color:#000; margin-top:9px; position:absolute; width:937px; border-radius:5px;}
.notification { width:935px; }
.error { width:935px; }
.float_rgt a { margin: 0px 0px;}
.profile .profile-lft1 { width: 390px;}
.toggle ul li.lft { width:410px; }
.toggle ul li.rgt { width: 415px; }
.column_a { width: 426px !important; }
.column_b { width: 396px !important; }
.right_bar .title { margin-left:20px; }
}

@media only screen
and (max-width : 768px) {

	.tabholder{width: 600px; margin: 25px; font-family: 'open_sansregular';}

.wrapper { width:744px;}
header {  width:690px;}
.main_con { width:690px; margin-top:13px; }
footer { width:690px;}
.page3 .left_bar { width:324px; }
.page3 .right_bar { width:304px; }
.page3 .tab_holder { width:494px;}
.page3 .tab_holder2 { width:494px;}
aside { width:142px; }
.table dt { width:57px; font-size:12px; }
.table dd { width:66px; }
.section3 { width:484px; }
.page3 .left_panel { width:45%;}
.page3 .right_panel { width:45%;}
section { width:494px; }
section .box_holder, .section2 .box_holder,  .box_holder3 { width:482px; }
section .box_2 , .section2 .box_2, .page3 .box_3 { width:468px; }
.edit3 { margin: -2px 100px 20px 1px; }
.box_holder3 { width:317px; border-bottom:1px solid #ccc;}
.page3 .box_3 { width: 304px;}
nav { float: left; width: 150px; height: 47px; padding: 5px 0px 0px 40px;}
.page h2 { width:45%; }
.margin1 {margin-bottom:15px!important;}
.margin2 {padding: 2px !important; margin: -2px 1px !important;}
.margin3 {margin-right:1px!important; padding:2px!important;}
.margin4 {margin-top:1px!important; padding:2px!important;}
.margin5 {margin: 0px !important; padding: 0px !important;}
section .box_2 a, .section2 .box_2 a, .edit2 a, .edit3 a, .page3 .left_panel ul li a, .box_3 a, .edit4 a, .goal ul li a { padding: 6px 5px;}
.page2 form input[type="button"], .course_manage input[type="submit"], .edit a, .box_3 a.green, .customization a { padding: 5px;}
.dis{display:inline; clear:both; }
.nav2 { clear: both; margin-left: 60px;}
.copy { width: 100%; text-align: center; margin-top: 10px;}
aside .box_holder2 img { width:90%; }
.ui-tabs .ui-tabs-nav li { margin: 1px 0px 0px 0px!important; }
.ui-tabs .ui-tabs-nav li a { font-size:13px!important; line-height:1.9em; padding:10px 18px!important;  }
.marginlft30 { margin-left:30px; }
.course_manage { padding-left: 30px; }
section .box_holder .title, .section2 .box_holder .title, .left_bar .box_holder3 .title, .right_bar .box_holder3 .title { width: 86%; }
.edit_prof_rgt .form { width: 310px;}
.row { margin: 4px 0px 0px; }
.page2 form label, .course_manage label, .edit_form label { width: 95%; }
.profile .profile-lft { width: 169px;}
.single {float:left; width:520px;}
.disnone { display:none; }
#comments .lft, #tabs-1 .lft, #tabs-2 .lft, #tabs-3 .lft, #tabs-4 .lft, #tabs-5 .lft { width: 25% !important;}
#comments .rgt, #tabs-1 .rgt, #tabs-2 .rgt, #tabs-3 .rgt, #tabs-4 .rgt, #tabs-5 .rgt {width: 75% !important;}
#comments .lft1, #tabs-1 .lft1, #tabs-2 .lft1, #tabs-3 .lft1, #tabs-4 .lft1, #tabs-5 .lft1 { width: 75% !important; float:left;}
#comments .rgt1, #tabs-1 .rgt1, #tabs-2 .rgt1, #tabs-3 .rgt1, #tabs-4 .rgt1, #tabs-5 .rgt1 {width: 25% !important; float:right;}
.table dl {margin: 0px 12%;}
.width98 {width: 97% !important;}
.show {padding: 15px 0px 20px;}
nav ul li { list-style:none; float:left; background:none!important; padding:0px!important; clear:both; }
.ui-tabs .ui-tabs-nav li { margin-right:1px!important; }
.ui-tabs .ui-tabs-nav li a { margin-bottom:-1px; }
#tabs-1 .box ul, #tabs-2 .box ul, #tabs-3 .box ul, #tabs-4 .box ul, #tabs-5 .box ul { padding:0px; }
#tabs-1 .box a, #tabs-2 .box a, #tabs-2 .box a, #tabs-3 .box a, #tabs-4 .box a, #tabs-5 .box a { padding:0px; }
.notification { width:680px; margin-top:20px; }
.error { width:680px; margin-top:20px; }
.margin6 { margin-right: 10px;}
.right_bar .box_holder3 .title { margin-left: 20px!important;}
.toggle ul li.lft { width: 610px; }
.column_a { width: 600px !important; }
.column_b { width: 595px !important; }
.column_b .plus_details { margin-left:-140px; }
.toggle ul li.rgt { width: 610px; margin-left: -5px; margin-top: 20px;}
.width96 { width: 97.3% !important;}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (max-width : 580px) {


.wrapper { width:545px;}
header {  width:492px;}
.main_con { width: 482px; margin-top: 13px; }
footer { width:490px; padding:27px 27px;}
.page3 .left_bar { width:425px; margin-top:40px; }
.page3 .right_bar { width: 425px; margin-left: 30px; }
.page3 .tab_holder { width:285px; margin-top:35px;}
.page3 .tab_holder2 { width:288px; padding-top: 50px;}
aside { width:142px; }
.table dt { width:49px; font-size:13px; }
.table dl {margin: 0px;}
.table dd { width:66px; }
.section3 { width:280px; padding-top:40px; }
.page3 .left_panel { width:93%; clear:both; padding:10px!important; border-right:none!important;}
.page3 .right_panel { width:90%; clear:both; padding:10px!important;}
section { width:285px; margin-top: 35px; }
section .box_holder, .section2 .box_holder,  .box_holder3 { width:280px; }
section .box_2 , .section2 .box_2, .page3 .box_3 { width:266px; }
.edit3 { margin: -2px 100px 20px 1px; }
.box_holder3 { width:425px; border-bottom:1px solid #ccc;}
.page3 .box_3 { width: 412px;}
nav { float:left; width:145px; height:47px;padding:0px 0 0 15px;}
nav a { font-size:11px!important; }
.page h2 { width:80%; }
.margin1 {margin-bottom:15px!important;}
.margin2 {padding: 2px !important; margin: -2px 1px !important;}
.margin3 {margin-right:1px!important; padding:2px!important; }
.margin4 {margin-top:1px!important; padding:2px!important;}
.margin5 {margin: 0px !important; padding: 0px !important;}
section .box_2 a, .section2 .box_2 a, .edit2 a, .edit3 a, .page3 .left_panel ul li a, .box_3 a, .edit4 a, .goal ul li a { padding: 6px 3px; font-size:11px;}
.page2 { width:100%; min-height:437px;float:left; background:url(../images/devider.png) 235px top repeat-y #fff; padding-bottom:20px;}
.page2 form input[type="button"], .course_manage input[type="submit"], .edit a, .box_3 a.green, .customization a { padding: 5px 3px; font-size:11px; font-weight:normal}
.dis{display:inline; clear:both; }
.nav2 { clear: both; margin-left: 10px;}
.nav2 a { font-size:11px!important;}
.copy { width: 100%; text-align: center; margin-top: 5px;}
aside .box_holder2 img { width:90%; }
.ui-tabs .ui-tabs-nav li { margin: 1px 0px 0px 0px!important; }
.ui-tabs .ui-tabs-nav li a { font-size:10px!important; line-height:1.9em;  }
.marginlft30 { margin-left:30px; }
.course_manage { padding-left: 0px; }
section .box_holder .title, .section2 .box_holder .title, .left_bar .box_holder3 .title, .right_bar .box_holder3 .title { width: 80%; }
.edit_prof_rgt .form { width: 320px;}
.row { margin: 4px 0px 0px; }
.page2 form label, .course_manage label, .edit_form label { width: 25%; }
.profile .profile-lft { width: 179px;}
.single {float:left; width:320px;}
.nav2 ul li { padding: 0px 5px;}
.logo { width: 180px; }
.logo img { width:95%; }
.brktxt { clear:both; float:left!important; margin-bottom:10px; width:100%; }
.disnone { display:none; }
.show { padding: 0px 0px 30px;}
.ui-tabs .ui-tabs-nav li a {
padding:0px 5px!important;
}
.ui-tabs .ui-tabs-nav li {
margin-right:1px!important; border-radius:5px 5px 0px 0px!important;}
/**Tabs**/
.ui-tabs .ui-tabs-nav li a {
	padding: 3px 3px!important ;
	border-radius:5px 5px 0px 0px!important;
	margin-bottom:-1px;
	}
.ui-tabs .ui-tabs-nav li a:after {
    border-top: 0px solid #FFF!important;
    border-left: 0px solid #C6DC55!important;
}
.ui-tabs .ui-tabs-nav li a:before {
    border-top: 0px solid #C6DC55!important;
    border-left: 0px solid #FFF!important;
}
.activity { padding:0px!important; margin:0px!important;}
.activity li { padding:0px!important; margin:0px!important;}
.collapselink { margin-left:-9px; }
.page2 form label, .course_manage label, .edit_form label { width:155px;}
.page2 form input[type="text"], .page2 form input[type="password"], .course_manage input[type="text"], .edit_form input[type="text"] { width:180px;}
.course_manage textarea, .edit_form textarea { width: 220px; }
section .box_holder .box, .box_holder3 .box {margin: 80px 10px 0px;}
.course_manage { padding-left:0px; width:250px; padding-top:20px;}
.box1 { border: 1px solid #AAA; padding: 10px; margin:15px 0px 15px 0px; overflow:hidden; }
.width50 { width:70%!important; clear:both!important; margin-top:20px!important; }
#tabs-4 .lft { width:25%; float:left; }
#tabs-4 .rgt { width:60%; float:right; }
section .pagi ul li { margin-bottom: 20px;}
.page3 .box_1 { width: 90%;margin-left: 0px;}
.form input[type="text"], .form input[type="password"] { width: 150px; }
.log_in h1 { margin-bottom:42px; }
.box_holder .box span.inn {width:100%; }
.profile .btm .lft { width:100%; background:none; font-weight:normal!important; float:left; }
.profile .btm .lft .lft {width:50%; float:left; margin:0px; }
.profile .btm .lft .rgt {width:30%; float:right; }
.profile .btm .rgt { width:100%; background:none; line-height:22px;}
.width94 { width:90%!important; }
.width100 { width:100%!important; }
.width98 { width:96.2%!important; }
.width91 { width:91%!important; margin:0 30px!important; }
.width99 { width:99.2%!important; }
#comments .lft, #tabs-1 .lft, #tabs-2 .lft, #tabs-3 .lft, #tabs-4 .lft, #tabs-5 .lft { width: 25% !important;}
#comments .rgt, #tabs-1 .rgt, #tabs-2 .rgt, #tabs-3 .rgt, #tabs-4 .rgt, #tabs-5 .rgt {width: 63% !important;}
#comments .lft1, #tabs-1 .lft1, #tabs-2 .lft1, #tabs-3 .lft1, #tabs-4 .lft1, #tabs-5 .lft1 { width: 63% !important; float:left;}
#comments .rgt1, #tabs-1 .rgt1, #tabs-2 .rgt1, #tabs-3 .rgt1, #tabs-4 .rgt1, #tabs-5 .rgt1 {width: 25% !important; float:right;}
.notification {width: 472px; margin-top:20px;}
.right_bar .box_holder3 .title { margin-left: 20px;}
#tabs-1 .box ul li, #tabs-2 .box ul li, #tabs-3 .box ul li, #tabs-4 .box ul li, #tabs-5 .box ul li {margin: 0px 0px;}
#tabs-1 .box ul, #tabs-2 .box ul, #tabs-3 .box ul, #tabs-4 .box ul, #tabs-5 .box ul {padding:0px; }
.pagination { width: 99%; }
.pagination .previous_page { padding: 3px 8px;}
.pagination .current { padding: 3px 8px;}
.pagination a { padding: 3px 8px;}
.profile dt { width: 20%;}
.column_b { width: 386px !important;}
.column_b { width: 386px !important;}
.toggle .customization {width: 87% !important;}
.toggle ul li.lft {list-style: none outside none;width: 405px;}
.toggle ul li.rgt {width: 400px; margin-left: -5px;}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (max-width : 480px) {
.wrapper { width:455px;}
header {  width:448px; padding: 20px 5px!important; }
.main_con { width: 435px; margin-left: 10px; }
.page form.search { padding-right: 10px; }
footer { width:390px; padding:27px 27px;}
.page3 .left_bar { width:410px; padding: 0px 10px 0px 15px; }
.page3 .right_bar { width: 400px; margin-left: 15px; }
.page3 .tab_holder { width:400px;}
.page3 .tab_holder2 { width:395px;}
aside { width: 380px; margin-left: 20px !important; float:left!important; }
.table dl { margin: 0px!important; }
.table dt { width:45px; font-size:10px; font-size:12px; }
.table dd { width:66px; }
.section3 { width:380px; }
.page3 .left_panel { width:93%; clear:both; padding:10px!important; border-right:none!important;}
.page3 .right_panel { width:90%; clear:both; padding:10px!important;}
section { width:395px; }
section .box_holder, .section2 .box_holder,  .box_holder3 { width:380px; }
section .box_2 , .section2 .box_2, .page3 .box_3 { width:366px; }
.edit3 { margin: -2px 100px 20px 1px; }
.box_holder3 { width:400px; border-bottom:1px solid #ccc;}
.page3 .box_3 { width: 386px;}
nav { float:left; width:145px; height:47px;padding:0px 0 0 15px;}
nav a { font-size:11px!important; }
.page h2 { width:40%; }
.margin1 {margin-bottom:15px!important;}
.margin2 {padding: 2px !important; margin: -2px 1px !important;}
.margin3 {margin-right:1px!important; padding:2px!important;}
.margin4 {margin-top:1px!important; padding:2px!important;}
.margin5 {margin: 0px !important; padding: 0px !important;}
section .box_2 a, .section2 .box_2 a, .edit2 a, .edit3 a, .page3 .left_panel ul li a, .box_3 a, .edit4 a, .goal ul li a { padding: 6px 3px; font-size:11px;}
.page2 form input[type="button"], .course_manage input[type="submit"], .edit a, .box_3 a.green, .customization a { padding: 5px 3px; font-size:11px; font-weight:normal}
.dis{display:inline; clear:both; }
.nav2 { clear: both; margin-left: 7px; width:420px;}
.nav2 a { font-size:11px!important; font-weight:normal!important;}
.copy { width: 100%; text-align: center; margin-top: 5px; font-weight:normal!important; font-size:11px!important;}
aside .box_holder2 img { width:50%; }
.ui-tabs .ui-tabs-nav li { margin: 1px 0px 0px 0px!important; }
.ui-tabs .ui-tabs-nav li a { font-size:10px!important; line-height:1.9em;  }
.marginlft30 { margin-left:30px; }
.course_manage { padding-left: 0px; }
section .box_holder .title, .section2 .box_holder .title, .left_bar .box_holder3 .title, .right_bar .box_holder3 .title { width: 80%; }
.edit_prof_rgt .form { width: 320px;}
.row { margin: 4px 0px 0px; }
.page2 form label, .course_manage label, .edit_form label { width: 25%; }
.profile .profile-lft { width: 179px;}
.single {float:left; width:320px;}
.nav2 ul li { padding: 0px 5px;}
.logo { width: 130px; margin-top:10px; }
.logo img { width:95%; }
.brktxt { clear:both; float:left!important; margin-bottom:10px; width:100%; }
.disnone { display:none; }
.show { padding: 0px 0px 30px;}
.ui-tabs .ui-tabs-nav li a {
padding:3px 10px!important;
margin-bottom:-1px;
}
.ui-tabs .ui-tabs-nav li {
margin-right:1px!important; border-radius:5px 5px 0px 0px!important;}
/**Tabs**/
.ui-tabs .ui-tabs-nav li a {
	padding: 3px 14px!important ;
	border-radius:5px 5px 0px 0px!important;
	font-size:11px!important;
	}
.ui-tabs .ui-tabs-nav li a:after {
    border-top: 0px solid #FFF!important;
    border-left: 0px solid #C6DC55!important;
}
.ui-tabs .ui-tabs-nav li a:before {
    border-top: 0px solid #C6DC55!important;
    border-left: 0px solid #FFF!important;
}
.activity { padding:0px!important; margin:0px!important;}
.activity li { padding:0px!important; margin:0px!important;}
.collapselink { margin-left:-9px; }
.page2 form label, .course_manage label, .edit_form label { width:155px;}
.page2 form input[type="text"], .page2 form input[type="password"], .course_manage input[type="text"], .edit_form input[type="text"] { width:100%;}
.course_manage textarea, .edit_form textarea { width: 100%; }
.course_manage input[type="button"], .edit_form input[type="button"] {
float:left!important; margin:10px 0px;}
.course_manage { padding-left:0px; width:320px; padding-top:20px;}
.box1 { border: 1px solid #AAA; padding: 10px; margin:15px 0px 15px 0px; overflow:hidden; }
.width50 { width:70%!important; clear:both!important; margin-top:20px!important; }
#tabs-4 .lft { width:25%; float:left; }
#tabs-4 .rgt { width:60%; float:right; }
section .pagi ul li { margin-bottom: 20px;}
.page3 .box_1 { width: 90%;margin-left: 0px;}
.form input[type="text"], .form input[type="password"] { width: 150px; }

.log_in h1 { margin-bottom:42px; }
.box_holder .box span.inn {width:60%; float:none!important; }
.profile .btm .lft { width:100%; background:none; font-weight:normal!important; float:left; }
.profile .btm .lft .lft {width:50%; float:left; margin:0px; }
.profile .btm .lft .rgt {width:30%; float:right; }
.profile .btm .rgt { width:100%; background:none; line-height:22px;}
.side { display:none; }
.side2 { display:none; }
.width94 { width:94%!important; }
.width100 { width:100%!important; }
.width98 { width:96.2%!important; }
.width91 { width:91%!important; margin:0 30px!important; }
.width99 { width:99.2%!important; }
.padding10 { padding:10px 0!important; }
#comments .lft, #tabs-1 .lft, #tabs-2 .lft, #tabs-3 .lft, #tabs-4 .lft, #tabs-5 .lft {float:left!important; width:15%!important;}
#comments .rgt, #tabs-1 .rgt, #tabs-2 .rgt, #tabs-3 .rgt, #tabs-4 .rgt, #tabs-5 .rgt { float:right!important; width:70%!important; }
section .box_holder .box, .box_holder3 .box { margin: 80px 10px 0px; }
.page2 { width:100%; min-height:437px;float:left; background:url(../images/devider.png) 215px top repeat-y #fff; padding-bottom:20px;}
.notification { width: 425px; margin-left:5px; }
.error { width: 425px; margin-left:5px;}
.userlogin { float: left; margin-top: 35px; margin-left: -10px;}
.contain { margin-top: 27px;}
.column_a { width: 370px!important;}
.column_b { width: 370px!important;}
.plus_details { margin-left:-180px; }
.toggle ul li.lft { width: 382px; }
.toggle ul li.rgt { width: 375px; margin-left:-3px; }
.width97 { width: 96.5% !important;}
.toggle .collapse { width: 50%; }
.content-full .left { display:block;}
.content-full .right { display:block;}
#tabs-1 .box ul, #tabs-2 .box ul, #tabs-3 .box ul, #tabs-4 .box ul, #tabs-5 .box ul { padding: 0px; overflow:hidden;}
#tabs-1 .box a, #tabs-2 .box a, #tabs-2 .box a, #tabs-3 .box a, #tabs-4 .box a, #tabs-5 .box a {
    padding: 4px 0px;}
.creat input[type="submit"], .log_in input[type="submit"] { margin-top:0px; }
.log_in img { margin: -30px 0px 0px; }
.margin6 { margin-right: 18px;}
.page3 h5 { width:100%; overflow:hidden; }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
.wrapper { width:315px;}
header {  width:300px; padding: 20px 5px!important; }
.main_con { width: 300px; margin-left: 2px; overflow: hidden; }
.page form.search { padding-right: 10px; }
footer { width:300px; padding:27px 0px!important;}
.page3 .left_bar { width:265px; padding: 0px 0px 0px 25px; }
.page3 .right_bar { width: 263px; margin-left: 24px!important; }
.page3 .tab_holder { width:290px; padding: 10px 10px;}
.page3 .tab_holder2 { width:280px; padding:10px 10px;}
aside { width: 258px; margin-left: 25px !important; float:left!important; }
.table dl { margin: 0px!important; }
.table dt { width:28px; font-size:10px; font-size:12px; }
.table dd { width:66px; }
.section3 { width:280px; padding: 0px 10px 10px 10px!important; }
.page3 .left_panel { width:93%; clear:both; padding:10px!important; border-right:none!important;}
.page3 .right_panel { width:90%; clear:both; padding:10px!important;}
section { width:300px; }
section .box_holder, .section2 .box_holder,  .box_holder3 { width:258px; border-bottom: 1px solid #ccc; }
section .box_2 , .section2 .box_2, .page3 .box_3 { width:245px; }
.edit3 { margin: -2px 100px 20px 1px; }
.box_holder3 { width:263px;}
.page3 .box_3 { width: 251px;}
nav { float:left; width:145px; height:47px;padding:0px 0 0 15px;}
nav a { font-size:11px!important; }
.page h2 { width:90%; }
.margin1 {margin-bottom:15px!important;}
.margin2 {padding: 2px !important; margin: -2px 1px !important;}
.margin3 {margin-right:1px!important; padding:2px!important; margin-top: -2px;  }
.margin4 {margin-top:1px!important; padding:2px!important;}
.margin5 {margin: 0px !important; padding: 0px !important;}
.margin6 {margin-top:20px!important; margin-right:40px!important;}
section .box_2 a, .section2 .box_2 a, .edit2 a, .edit3 a, .page3 .left_panel ul li a, .box_3 a, .edit4 a, .goal ul li a { padding: 6px 3px; font-size:11px;}
.page2 form input[type="button"], .course_manage input[type="submit"], .edit a, .box_3 a.green, .customization a { padding: 5px 3px; font-size:11px; font-weight:normal}
.dis{display:inline; clear:both; }
.dis1{display:inline; clear:both; }
.nav2 { clear: both; margin-left: 10px!important; width:280px; text-align:center!important;}
.nav2 li { margin-bottom:3px; }
.nav2 li:first-child { margin-left:45px; }
.nav2 li:nth-child(3) { margin-left:30px; border-left:0px; }
.nav2 a { font-size:12px!important; font-weight:normal!important;}
.copy { width: 100%; text-align: center; margin-top: 5px; font-weight:normal!important; font-size:11px!important; margin-left:-30px!important;}
aside .box_holder2 img { width:50%; }
.ui-tabs .ui-tabs-nav li { margin: 1px 1px 0px 0px!important; }
.ui-tabs .ui-tabs-nav li a { font-size:10px!important; line-height:1.9em; font-family: 'opensans-BOLD';   }
.marginlft30 { margin-left:30px; }
.course_manage { padding-left: 0px; }
section .box_holder .title, .section2 .box_holder .title, .left_bar .box_holder3 .title, .right_bar .box_holder3 .title { width: 80%; margin-left:10px; }
.edit_prof_rgt .form { width: 300px;}
.row { margin: 4px 0px 0px; }
.page2 form label, .course_manage label, .edit_form label { width: 25%; }
.profile .profile-lft { width: 300px;}
.single {float:left; width:300px;}
.nav2 ul li { padding: 0px 5px;}
.logo { width: 130px; margin-top:10px; }
.logo img { width:95%; }
.brktxt { clear:both; float:left!important; margin-bottom:10px; width:100%; }
.disnone { display:none; }
.show { padding: 0px 0px 30px;}
.ui-tabs .ui-tabs-nav li a {padding:3px 1px!important; margin-bottom:-1px; font-weight:normal;}
.activity { padding:0px!important; margin:0px!important;}
.activity li { padding:0px!important; margin:0px!important;}
.collapselink { margin-left:-9px; }
.page2 form label, .course_manage label, .edit_form label { width:155px;}
.page2 form input[type="text"], .page2 form input[type="password"], .course_manage input[type="text"], .edit_form input[type="text"] { width:100%;}
.course_manage textarea, .edit_form textarea { width: 100%; }
.course_manage input[type="button"], .edit_form input[type="button"] {
float:left!important; margin:10px 0px;}
.course_manage { padding-left:0px; width:240px; padding-top:20px;}
.box1 { border: 1px solid #AAA; padding: 10px; margin:15px 0px 15px 0px; overflow:hidden; }
.width50 { width:70%!important; clear:both!important; margin-top:20px!important; }
#tabs-4 .lft { width:25%; float:left; }
#tabs-4 .rgt { width:60%; float:right; }
section .pagi ul li { margin-bottom: 20px;}
.page3 .box_1 { width: 90%;margin-left: 0px;}
.form input[type="text"], .form input[type="password"] { width: 150px; }
.log_in h1 { margin-bottom:20px; }
.box_holder .box span.inn {width:100%; float:left!important; text-align:left!important; }
.profile .btm .lft { width:100%; background:none; font-weight:normal!important; float:left; }
.profile .btm .lft .lft {width:50%; float:left; margin:0px; }
.profile .btm .lft .rgt {width:30%; float:right; }
.profile .btm .rgt { width:100%; background:none; line-height:22px;}
.side { display:none; }
.side2 { display:none; }
.width94 { width:94%!important; }
.width100 { width:94%!important; }
.width98 { width:90% !important; }
.width91 { width:85%!important; margin:0 30px!important; }
.width99 { width:95.2%!important; }
.padding10 { padding:10px 0!important; }
#comments .lft, #tabs-1 .lft, #tabs-2 .lft, #tabs-3 .lft, #tabs-4 .lft, #tabs-5 .lft {float:left!important; width:100%!important;}
#comments .rgt, #tabs-1 .rgt, #tabs-2 .rgt, #tabs-3 .rgt, #tabs-4 .rgt, #tabs-5 .rgt { float:right!important; width:100%!important; }
section .box_holder .box, .box_holder3 .box { margin: 80px 10px 0px; }
.page2 { width:100%; min-height:307px;float:left; background:#fff; padding-bottom:20px;}
.user { float:left; margin-top:80px!important; margin-left:-200px!important; }
.contain { margin-top: 27px!important;}
.page { width: 100%; }
.page3 { width: 100%; padding-top: 40px;}
section .pagi { width: 90%; }
.arrowbox { left:250px; }
.log_in, .creat { width: 88%;}
.log_in img { margin: -40px 28px;float: right;}
section .box_holder .box img {padding-right: 90px; padding-bottom: 10px; }
.float_rgt { width: 100%;}
.show .cm_box { left: 20px;}
body { overflow-x:hidden; }
.userlogin { margin-top: 10px!important; margin-right: 40px!important;}
.notification { width: 290px; margin-left:-3px; }
.error { width: 290px; margin-left:-3px; }
.toggle .customization { width: 100% !important; }
.column_a { width: 232px !important;}
.column_b .plus { margin-right:-10px; }
.column_b .plus_details { margin-left:-80px; }
.column_b { width: 232px !important;}
.plus a {margin-left:-20px!important; }
.toggle ul li.lft { width: 245px; margin-top: 15px;}
.toggle ul li.rgt { width: 220px;}
.toggle .collapse { width: 67%; }
.width96 { width: 95.0% !important;}
.toggle .content { width: 238px; margin: 5px 0px 20px -10px !important; padding: 5px; }
section .box_2 a, .section2 .box_2 a, .edit2 a, .edit3a a, .page3 .left_panel ul li a, .box_3 a, .edit4 a, .goal ul li a { padding:5px 2px; font-size:12px; }
.width97 { width: 89.5% !important;}
.ui-widget-content ul { clear:both; padding:0px; }
#tabs-1 .box ul li, #tabs-2 .box ul li, #tabs-3 .box ul li, #tabs-4 .box ul li, #tabs-5 .box ul li { margin: 0px 0px!important; }
#tabs-1 .box a, #tabs-2 .box a, #tabs-2 .box a, #tabs-3 .box a, #tabs-4 .box a, #tabs-5 .box a { padding: 0px; }
.pagination { width: 88%; }
.pagination .previous_page { padding: 3px 8px;}
.pagination .current { padding: 3px 8px;}
.pagination a { padding: 3px 8px;}
.log_in a { width: 100%; }
.profile .profile-lft1 {width: 250px;margin-left: 10px;}
.profile .rgt { margin-top: 0px; }
.triangle, .triangle2 { top: 25px;}
.content-full .left { display:block;}
.content-full .right { display:block;}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
body { overflow-x:visible!important; }
/* Styles */
}


@media print {
	body {
		background: none !important;
		color: #000;
		font-size: 10pt;
	}
}
