<% @title = "Add an Activity to #{@course.name}" %>

<div class="page"><h2>Add activity to course <%= @course.name %></h2></div>
<div class="page3">

<%= render :partial => 'activity_in_course_form', locals: {url: create_activity_in_course_path} %>
</div>
