				<div class="page"><h2>User Profile</h2>
					<form class="search">
					<input placeholder="Search by zit or zat" type="text">
					<input value="GO" type="submit">
					</form>
				</div>
				<div class="page3">	
				<div class="single" style="float:left; width:640px;">
				<div class="section3">							
	<div class="box_holder">
							
				<div class="box">
				<div class="profile">
	<div class="lft">
	<img src="/images/anonymousUser.jpg" class="img_lft">
<p>Senior Trios<br>
<span class="info">PH.D<br>
age: 35yrs</span>
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac velit nec diam rutrum vehicula.
</p>
<p><a href="#" class="button">Follow</a></p>
	</div>
	<div class="rgt">
	<!--<a href="#" class="button" style=" margin-top:30px;">Follow</a>-->
	</div>
	<div class="clear"></div>
	
	</div>
</div>
				</div>
				<div class="clear"></div>
				</div>
				<section>
				<h2 class="title">Plan:</h2>
				<div class="box_holder">
				<div class="title"><h3>Goal: build muscle</h3><span>&nbsp;</span></div>
				<div class="triangle"></div>
				<div class="box"><p>Work out - Twice a week<br>
Working out can mean a lot of ...
				</p>
				<div class="float_rgt"><a href="#" class="link">View more</a><a href="#" class="link">1 blog entry</a></div>
				</div>
				</div>
				<div class="clear"></div>
				<div class="box_2"><a href="#">Add to my plan</a><div class="clear"></div></div>
				
				<div class="box_holder">
				<div class="title"><h3>Goal: take in calories </h3><span>&nbsp;</span></div>
				<div class="triangle"></div>
				<div class="box"><p>Eat more - Three times a day<br>
Eat more every day. To beefcake you need...</p>
<div class="float_rgt"><a href="#" class="link">View more</a><a href="#" class="link">2 blog entries</a></div>
</div>
				</div>
				<div class="clear"></div>
				<div class="box_2"><a href="#">Add to my plan</a><div class="clear"></div></div>
				
								<div class="box_holder">
				<div class="box" style="margin-top:0px;"><p>Title - Timing<br>
Description - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac velit nec diam rutrum vehicula.</p>
<div class="float_rgt"><a href="#" class="link">View more</a></div>
</div>
				</div>
				<div class="clear"></div>
				<div class="box_2"><a href="#">Add to my plan</a><div class="clear"></div></div>
				
				<div class="box_holder">
				<div class="title"><h3>Goal: learn </h3><span>&nbsp;</span></div>
				<div class="triangle"></div>
				<div class="box"><p>Watch shows about working out - once a week<br>
On our site we have tons of info...</p>
<div class="float_rgt"><a href="#" class="link">View more</a></div>
</div>
				</div>
				<div class="clear"></div>
				<div class="box_2"><a href="#">Add to my plan</a><div class="clear"></div></div>
				
				<div class="space"></div>
				
				<h2 class="title">Blog entries:</h2>
				<div class="box_holder borderbtm">
				<div class="title"><h3>About Activity 1</h3><span>02/22/14</span></div>
				<div class="triangle"></div>
				<div class="box"><p>Lorem ipsum dolor sit amet, consectetur 
adipiscing elit. Suspendisse ac velit nec diam rutrum vehicula. Donec 
luctus, justo et fringilla feugiat, dolor velit porttitor odio, a rutrum
 justo eros vel velit. Phasellus nibh arcu, imperdiet sit amet dolor eu,
 auctor tincidunt felis. Aliquam eget tempus enim, non pretium libero. 
Aliquam aliquam quam a placerat varius. Mauris auctor urna et mi ornare 
faucibus. Sed sed turpis interdum, venenatis quam et, malesuada arcu. 
Sed in erat in nisl molestie hendrerit ac vitae orci. Proin semper eros 
erat, id luctus risus egestas id. In quis nunc a diam placerat 
pellentesque porttitor non nisi. Morbi non velit sed nunc condimentum 
adipiscing. Phasellus at sodales velit. </p>
				<div class="float_rgt"><a href="#" class="link">3 comments</a><span>|</span><a href="#" class="link">add a comment</a></div>
				</div>
				</div>
				<div class="clear"></div>	
				
				<div class="box_holder borderbtm">
				<div class="title"><h3>About Another Activity</h3><span>02/22/14</span></div>
				<div class="triangle"></div>
				<div class="box"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac velit nec diam rutrum vehicula. </p>
				<div class="float_rgt"><a href="#" class="link">add a comment</a></div>
				</div>
				</div>
				<div class="clear"></div>				
							
				
				</section>
				</div>