<% @title = "About us" %>

		<p>Me Learning is a social learning platform designed to create a sense of support and community.</p>

		<p>Our community allows you to grow in a number of ways from expanding your intellect by learning something new, to improving your mental, emotional or physical health.</p>

		<p>Whether you&rsquo;re a course creator or a participant, Me Learning is a community focused on Growth and Support.</p>

		<p><strong>Growth </strong><br />
		Me Learning is designed to help you grow mentally, emotionally, physically, and/or spiritually. In order to get the most out of our community, we encourage you to set participate in activities that relate to your interests.</p>

		<p>Participating in community-centered activities is a powerful way to encourage and challenge yourself. Participation in activities can also:</p>

		<ul>
			<li>
			<p>Create a sense of purpose</p>
			</li>
			<li>
			<p>Create a sense of control over your own future</p>
			</li>
			<li>
			<p>Increase your motivation</p>
			</li>
			<li>
			<p>Help you achieve results faster</p>
			</li>
			<li>
			<p>Help you better manage your time</p>
			</li>
			<li>
			<p>Make your thoughts more positive</p>
			</li>
		</ul>

		<p><strong>Support</strong><br />
		Take a look at others&rsquo; Courses and activities. Not only will you find encouragement, but you will also start to generate great ideas that can help you grow and achieve your own goals.</p>

		<p>In addition, you can support and encourage others as they work toward their goals.</p>

		<p>Supporting others and receiving support in return can greatly impact your actual and perceived health.<br />
		<br />
		In fact, supporting others and receiving support in return can:</p>

		<ul>
			<li>
			<p>Increase happiness</p>
			</li>
			<li>
			<p>Boost endorphins</p>
			</li>
			<li>
			<p>Help you feel needed and connected</p>
			</li>
			<li>
			<p>Reduce worry and anxiety</p>
			</li>
			<li>
			<p>Give you a sense of purpose and meaning</p>
			</li>
		</ul>

		<p>Our mission at Me Learning is to connect you with the ideas and resources you need to grow and be healthier mentally, emotionally, physically, intellectually, and spiritually.</p>
