<% @title = "How it works" %>

<div class='boxed'>

<h2>Overview</h2>
		<p>meLearning is a social learning platform designed to create a sense of support and community.</p>

		<p>Our community allows you to grow in a number of ways from expanding your intellect by learning something new, to improving your mental, emotional or physical health.</p>

		<p>Whether you&rsquo;re a course creator or a participant, meLearning is a community focused on Growth and Support.</p>

		<p><strong>Growth </strong><br />
		meLearning is designed to help you grow mentally, emotionally, physically, and/or spiritually. In order to get the most out of our community, we encourage you to set participate in activities that relate to your interests.</p>

		<p>Participating in community-centered activities is a powerful way to encourage and challenge yourself. Participation in activities can also:</p>

		<ul>
			<li>
			<p>Create a sense of purpose</p>
			</li>
			<li>
			<p>Create a sense of control over your own future</p>
			</li>
			<li>
			<p>Increase your motivation</p>
			</li>
			<li>
			<p>Help you achieve results faster</p>
			</li>
			<li>
			<p>Help you better manage your time</p>
			</li>
			<li>
			<p>Make your thoughts more positive</p>
			</li>
		</ul>

		<p><strong>Support</strong><br />
		Take a look at others&rsquo; Courses and activities. Not only will you find encouragement, but you will also start to generate great ideas that can help you grow and achieve your own goals.</p>

		<p>In addition, you can support and encourage others as they work toward their goals.</p>


		<p>Our mission at meLearning is to connect you with the ideas and resources you need to grow and be healthier mentally, emotionally, physically, intellectually, and spiritually.</p>
		
		
<h2>How it works</h2>

<p>Every member has a plan that's their own that's comprised of activities.</p>
<p>You might have created the activities (say journaling every day), or they may come from a course (like keys to happier living).</p>
<p>You can modify or delete any activities whether you created them or they're from a course, so that your plan is yours and tailored to your situation.</p>
<p>You can keep track of when you do certain activities (commitment marks) as well as blog about them.  You can see all blog entries from others doing the same activities, as well as see how they might have tailored them.</p>
<p></p>
<p>This might all seem abstract.  Let's take Ashley.  She joined a course to learn how to run and keep at it, as well as the four agreements course.  She also would like to journal every day so she added that to her plan. She also noticed she lashes out at her employees when she's annoyed, so she added the commitment to not do that. Now her plan has:</p>
<p><ul>
<li>Activities from the four agreements (there are 4)</li>
<li>Activities from the running course</li>
<li>The journaling activity</li>
<li>The stop lashing at her employees activity</li>
</ul></p>
<p>When she runs she can blog about it as well as mark it as done and add an entry with her thoughts and feelings about it.  When she notices she's taking things personally she can write about it.  She notices she's still taking things personally and is curious how others deal with that.  She looks at other people's entries for that activity and then writes an entry asking for some guidance.</p>
<p>After a couple months she looks at her log of commitment marks and notices she runs every day for a few days and then not at all for a week.  She writes an entry about that insight that will hopefully help her running practice, and she changes her running frequency to every other day, which seems more realistic.</p>
<p>After a couple years her plan is a bit different.  She still runs and shares her experiences with others who do as well.  She looks back at the various insights she's had about running.  They still help her and hopefully others following similar approaches will benefit as well.
</div>