<% @title = "Privacy Statement" %>

	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.27in 11.69in; margin: 0.79in }
		P { margin-bottom: 0.08in; direction: ltr; color: #000000; text-align: left; widows: 0; orphans: 0 }
		P.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: en-GB }
		P.cjk { font-family: "Lucida Sans Unicode"; font-size: 12pt; so-language: zxx }
		P.ctl { font-family: "Tahoma"; font-size: 12pt; so-language: zxx }
	-->
	</STYLE>
<P LANG="en-GB" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 9pt"><B>TEMPLATE PRIVACY STATEMENT</B></FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">Your privacy is important to
me-Learning.  This privacy statement provides information about the
personal information that me-Learning collects, and the ways in which
me-Learning uses that personal information.</FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 9pt"><B>Personal information
collection</B></FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">me-Learning may collect and use the
following kinds of personal information: </FONT>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<UL>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">information about your use of
	this website; </FONT>
	</P>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">information that you provide
	using for the purpose of registering with the website</FONT></P>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">information about transactions
	carried out over this website; </FONT>
	</P>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">information that you provide
	for the purpose of subscribing to the website services; and</FONT></P>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">any other information that you
	send to me-Learning.</FONT></P>
</UL>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 9pt"><B>Using personal information</B></FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">me-Learning may use your personal
information to: </FONT>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<UL>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">administer this website;</FONT></P>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">personalize the website for
	you;</FONT></P>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">enable your access to and use
	of the website services;</FONT></P>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">publish information about you
	on the website;</FONT></P>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">supply to you services that you
	purchase;</FONT></P>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">send you marketing
	communications.</FONT></P>
</UL>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">Where me-Learning discloses your
personal information to its agents or sub-contractors for these
purposes, the agent or sub-contractor in question will be obligated
to use that personal information in accordance with the terms of this
privacy statement. </FONT>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">In addition to the disclosures
reasonably necessary for the purposes identified elsewhere above,
me-Learning may disclose your personal information to the extent that it
is required to do so by law, in connection with any legal proceedings
or prospective legal proceedings, and in order to establish, exercise
or defend its legal rights.</FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 9pt"><B>Securing your data</B></FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">me-Learning will take reasonable
technical and organisational precautions to prevent the loss, misuse
or alteration of your personal information. </FONT>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">me-Learning will store all the
personal information you provide. </FONT>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 9pt"><B>Cross-border data transfers</B></FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">Information that me-Learning collects
may be stored and processed in and transferred between any of the
countries in which me-Learning operates to enable the use of the
information in accordance with this privacy policy.</FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">You agree to such cross-border
transfers of personal information.</FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 9pt"><B>Updating this statement</B></FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">me-Learning may update this privacy
policy by posting a new version on this website.  </FONT>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">You should check this page
occasionally to ensure you are familiar with any changes.  </FONT>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-style: normal">
<FONT SIZE=2 STYLE="font-size: 9pt"><B>Other websites</B></FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">This website contains links to
other websites.  </FONT>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">me-Learning is not responsible for the
privacy policies or practices of any third party.</FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 9pt"><B>Contact me-Learning</B></FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<FONT SIZE=2 STYLE="font-size: 9pt">If you have any questions about
this privacy policy or me-Learning's treatment of your personal
information, please write:</FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<UL>
	<LI><P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
	<FONT SIZE=2 STYLE="font-size: 9pt">by email to info@melearni.ng; or </FONT>
	</P>
</UL>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 9pt"><B>Credit</B></FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; font-weight: normal">
<BR>
</P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="font-weight: normal">This
document was created using a Contractology template available at
</SPAN></FONT><FONT COLOR="#000080"><U><A HREF="http://www.freenetlaw.com/"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="font-weight: normal">http://www.freenetlaw.com</SPAN></FONT></A></U></FONT><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="font-weight: normal">.</SPAN></FONT></P>
<P LANG="en-GB" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<BR>
</P>